/* Sizes */
.spinner-sm {
  padding: 1rem;
  border-width: 0.125em;
}

.spinner-md {
  padding: 2rem;
  border-width: 0.25em;
}

.spinner-lg {
  padding: 3rem;
  border-width: 0.375em;
}

/* Variants */
.spinner-primary {
  border-color: #007bff;
}

.spinner-secondary {
  border-color: #6c757d;
}

.spinner-light {
  border-color: #f8f9fa;
}

.spinner-dark {
  border-color: #343a40;
}

/* Overlay spinner */
.spinner-overlay {
  /*position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;*/
  background: rgba(255, 255, 255, 0.9);
}

.spinner-overlay::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Animation */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  border-style: solid;
}
